/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
ul, ol {
    list-style: none;
}

a {
	text-decoration: none;
}

/* Main banner */
body {
	position: relative;
	background: url("../images/bg-body.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
}


/* Header */
.header {
    overflow: hidden;
}

.header #agileAllianceBrazil {
	position: absolute;
	top: 0;
	right: 1em;
}

/* Agile Alliance Bar */
.menu {
    background-color: #5C95B6;

    height: 30px;
    line-height: 30px;
    padding-right: 1em;
    padding-left: 1em;
}
.menu-list {
    float: right;
		font-size: 0.8em;
}
.menu-list-item:not(:last-child) {
    float: left;
    margin-right: 10px;
}
.menu-list-item.logo { margin-right: 0; }
.menu-list-item img {
    float: left;
}
.menu-list-item:last-child {
    float: right;
    clear: left;

}
[lang=en] .menu-list-item:last-child {
	color: #fff;
}

.menu-list-item:last-child a {
	color: #fff;
}


.menu-list-item:not(:last-child) a {
    text-decoration: none;
    color: #E6EFF4;

    display: block;
}
.menu-list-item:not(:last-child) a:hover {
    color: #FFF;
}


.conferenceInfo .place {
}

/*  Button */
.btnBase {
	cursor: pointer;
}

#sectionBanner {
	margin: 5%;
	padding: 5%;
	background-color: rgba(118, 171, 217, 0.8);
}

.header-abLogo {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.header-abLogo img {
	width: 100%;
}


.place {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}

.date {
	text-align: center;
	font-size: 1.9em;
	text-transform: uppercase;
	color: #F8E71C;
	font-weight: 300;
	margin-bottom: .3em;
}

#sectionBanner p {
	padding: 0.3em 0.7em;
  line-height: 1.3em;
}



/* Subscribe Form section */
.subscribe-form {
	padding: .7em;
}


.subscribe-form ul {
	list-style: none;
}

.subscribe-form ul li {
	display: block;
}

.subscribe-form .inputLarge {
    width: 100%;
    padding: .3em;
    font-size: 1.2em;
    border: none;
}

#formMessage {
	display: none;
}

.subscribe-form .notice {
	display: inline-block;
	margin: 0 auto;
}

.subscribe-form .notice .error,
.subscribe-form .notice .success {
	display: block;
}

.subscribe-form .notice .error {
	background-color: #F5C6C6;
}

.subscribe-form .notice .success {
	background-color: #BBE0C0;
}

.subscribe-form .btnBase {
	padding: 0.5em 1.2em;
  font-size: 1.2em;
  line-height: 1.3333333;
  border: 0;
	width: 100%;
	background-color: #0091D9;
	color: #fff;
}

.footer-socialNetworks {
    overflow: hidden;
		width: 100%;
		display: table;
		margin-left: 0.7em;
}


.footer-socialNetworks-item:not(:last-child) {

}
.footer-socialNetworks-item {
    display: table-cell;
}

.footer-socialNetworks-item [href*=twitter] {
    background-image: url(../images/social-icons/twitter.png);
    background-size: 3.4em;
}

.footer-socialNetworks-item [href*=facebook] {
    background-image: url(../images/social-icons/facebook.png);
    background-size: 3.4em;
}

.footer-socialNetworks-item [href*=linkedin] {
    background-image: url(../images/social-icons/linkedin.png);
    background-size: 3.4em;
}

.footer-socialNetworks-item [href*=vimeo] {
    background-image: url(../images/social-icons/vimeo.png);
    background-size: 3.4em;
}

.footer-socialNetworks-item a {
    text-indent: -999px;
    overflow: hidden;
    display: block;
    width: 3.4em;
    height: 3.4em;
}


/* Media Query */
@media (min-width: 450px) {

}

@media (min-width: 750px) {

	ul.navbar-aga {
		display: none;
	}

	.agileAllianceTopBar ul.agile.nav {
		display: inline-block;
	}

	#sectionBanner {
		margin: 5% 15%;
		padding: 3%;
		background-color: rgba(118, 171, 217, 0.8);
	}

}

@media (min-width: 950px) {
	#sectionBanner {
		margin: 2% 10% 5% 60%;
		padding: 2%;
		background-color: rgba(118, 171, 217, 0.8);
	}
	.place {
		font-size: 3.0em;
	}
	.date {
		font-size: 2.0em;
	}

}

@media (min-width: 1460px) {
	.place {
		font-size: 5.1em;
	}
	.date {
		font-size: 3.1em;
	}

}

@media (min-width: 1170px) {
	.place {
		font-size: 3.5em;
	}
	.date {
		font-size: 2.1em;
	}

}