/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body > * {
	display: block;
	padding: 0 5%;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* Header */
.header img{
	vertical-align: top;
}

.header #agileAllianceBrazil {
	position: absolute;
	top: 0;
	right: 1em;
}

.header ul {
	line-height: 0;
	text-align: right;
}

.header li {
	display: inline-block;
	margin-top: 1em;
	padding: 1em;
	color: #777;
}

.header li:hover {
	background: #0093dd;
	color: #fff;
}

/* Main banner */
.conferenceInfo {
	background: url("../images/portoDeGalinhas.png") repeat scroll center bottom;
	color: #fff;
	font-size: 2.8em;
	line-height: 1.7;
	padding: 1em 0;
	text-align: center;
}

.conferenceInfo .place {
	font-size: 0.6em;
}

/* Advantages */
.advantages {
	list-style: none;
	background-color: #ddd;
}

.advantages li {
	display: block;
	margin-top: 2em;
	font-size: 1.2em;
}

.advantages li:last-child {
	margin-bottom: 2em;
}

.advantages i {
	float: left;
	margin-right: 0.5em;
}

/* Keynote section */
.keynote {
	text-align: center;
	padding: 2em 0;
	overflow: hidden;
}

.keynote-speaker-img img {
	border-radius: 50%;
}

.keynote-speaker-img {
	margin-top: 3em;
}

.keynote-speaker-img:first-child {
	margin-top: 0;
}

.keynote-speaker-name {
	font-size: 1.7em;
	font-weight: bold;
}

.keynote-speaker-name:after {
	display: block;
	font-weight: normal;
	font-size: 0.5em;
	margin: 0.5em 0;
	content: "Keynote speaker"
}

.keynote-speaker-miniBio p {
	text-align: justify;
	padding: 1em;
}

.keynote-speaker-miniBio p:last-child {
	padding-bottom: 0;
}

/* Footer */
.footer {
	background-color: #555;
}

.footer .social {
	display: inline;
}

.footer li {
	list-style: none;
	display: inline-block;
	font-size: 3em;
}

.footer li a {
	color: #111;
}

.footer .license {
	display: inline-block;
	margin-left: 2em;
}
