/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body > * {
	display: block;
	color: #222;
}

a {
	text-decoration: none;
	color: #206297;
}

header,
section {
	padding-bottom: 1em;
}

header {
	padding-top: 1em;
}

/* Agile Alliance bar */
.agileAlliance {
	text-align: right;
	padding-right: 110px;
	position: relative;
	background-color: #5c95b6;
	border-bottom: 1px solid #b0874e;
}

.agileAlliance-links li {
	display: inline-block;
	padding: 1em;
}

.agileAlliance-links a {
	color: #e6eff4;
}

.agileAlliance-links a:hover {
	color: #fff;
}

.agileAlliance-flag {
	position: absolute;
	top: 0;
	right: 1em;
	text-align: center;
}

.agileAlliance-logo {
	display: block;
	width: 96px;
}

.agileAlliance-logo img {
	width: 100%;
}

.agileAlliance-languageShift {
	font-size: 0.8em;
	text-shadow: 0 0 2px white;
}

/* Main banner */
.conferenceInfo {
	position: relative;
	background: url("../images/aereo.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	font-size: 10vw;
	line-height: 1.7;
	text-align: center;
	padding: 3em 0;
}

.conferenceInfo .place {
	font-size: 0.6em;
}

/* Advantages */
.advantages {
	list-style: none;
	color: #506060;
}

.advantages li {
	display: block;
	margin-top: 2em;
	font-size: 1.2em;
}

.advantages li:last-child {
	margin-bottom: 2em;
}

.advantages i {
	display: inline-block;
	margin-right: 0.5em;
}

.advantages p {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 5em);
}

#sectionAdvantages{
	padding: 0px 25px 0px 25px;
}

/* Keynote section */
.keynote {
	text-align: center;
	padding: 2em 0;
	overflow: hidden;
	list-style: none;
	background-color: #eee;
	display: none;
}

.keynote li {
	margin-top: 3em;
}

.keynote li:first-child {
	margin-top: 0;
}

.keynote-speaker-img {
	border-radius: 50%;
}

.keynote-speaker-name {
	font-size: 1.7em;
	font-weight: bold;
}

.keynote-speaker-name:after {
	display: block;
	font-weight: normal;
	font-size: 0.5em;
	content: "Keynote speaker"
}

.keynote-speaker-miniBio {
	text-align: left;
	padding: 1em 1em 0;
}

/* Sponsorship section */
.sponsorship {
	background-color: #FFD700;
	color: #0F4E34;
	font-size: 1.4em;
	text-align: center;
}

.sponsorship h2 {
	display: block;
	font-weight: normal;
	padding-left: 0.2em;
	margin: 0 auto;
	max-width: 15em;
}

.sponsorship a {
	background-color: #26C281;
	border-right: 2px solid rgba(0,0,0,0.2);
	border-bottom: 2px solid rgba(0,0,0,0.2);
	color: #cfc;
	cursor: pointer;
	display: block;
	font-size: 1.4em;
	margin: 1em auto 0.5em;
	padding: 0.5em;
	max-width: 10em;
	width: 100%;
}


/* Footer */
.footer {
	background-color: #206297;
	height: 200px;
	padding: 1em 3em;
}

.footer .block {
	width: 50%;
	padding: 2em;
	float:left;
}

.footer .social h3 {
	color: #fff;
	font-weight: normal;
}
.footer .social ul {
	display: inline;
}

.footer li {
	list-style: none;
	display: inline-block;
	font-size: 3em;
}

.footer li a {
	color: #fff;
}

.footer .license {
	text-align: right;
}
.footer .license-item {
	display: inline-block;
	margin-left: 2em;
	margin-top: 2em;
}

@media(min-width: 450px) {
	.conferenceInfo {
		font-size: 3em;
	}
}

@media(max-width: 750px) {
	.footer .block {
		float: none;
		width: 100%;
	}

	.footer {
		height: 300px;
	}

	.footer .license {
		text-align: left;
	}

	.footer .license-item {
		margin: 0;
	}
}

@media(min-width: 950px) {
	.advantages li {
		display: inline-block;
		width: 33%;
	}

	.conferenceInfo {
		font-size: 4em;
		padding: 2em 0;
	}

	.keynote li {
		display: inline-block;
		width: 48%;
		text-align: left;
	}

	.keynote-speaker-img {
		float: left;
		margin-right: 1em;
		margin-bottom: 2em;
	}

	.keynote-speaker-miniBio {
		padding-right: 1em;
	}

	.sponsorship {
		padding: 2em 0;
	}

}

@media(max-width: 450px) {

	.footer .block {
		float: none;
		width: 100%;
	}
}
