
.about .header {
	background-image:   url("../images/bg-about.jpg");
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		   -o-background-size: cover;
			    background-size: cover;

}

.header-about {
	height: 350px;
}

.header-about-title {
	font-weight: bold;
	font-size: 3em;
	line-height: 1em;
	padding-top: 1.3em;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  text-shadow: 1px 1px 1px #333;
}

.content-header-wrapper {
	background-color: #218CCB;
  color: #FFF;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.content-wrapper {
  background-color: #f2f2f2;
  color: #333;
  text-align: left;
  overflow: hidden;
  padding-top: 2em;
  padding-bottom: 2em;
}

.content-wrapper p a {
	color: #218CCB;
}


.content {
  font-size: 1.4em;
  font-weight: 300;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8em;
}

.content  h1 {
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 800;

	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.8em;
}

.content h2 {
	font-size: 1.6em;
	font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

.content h2#sobre {
	text-align: center;
	margin-bottom: 2em;
}

.content h2:first-child {
  padding-top: 0;
}

.content h3 {
  font-size: 1.4em;
  margin-top: 1em;
  margin-bottom: 0.4em;
}


.content p,
.content ul,
.content table {
  margin-bottom: 1em;
}

.content ul {
  padding: 1em;
}

.content li {
  list-style-type: disc;
  line-height: 2em;
}

.content li a {
  text-decoration: none;
}

.content li a:hover {
  text-decoration: underline;
}

.content img {
  width: 100%;
}

.pigs {
	margin-left: -30px;
	margin-right: -30px;
	color: #218CCB;
}

.pigs li {
	list-style: none;
	height: 15em;
	text-align: center;
}

.pigs li img {
	border-radius: 200px;
}

.pigs li h5 {
	font-size: 1em;
	line-height: 1.1em;
	margin-bottom: 5px;
}

.pigs li p {
	font-size: 1em;
	line-height: 1.5em;
	color: #444;
}

@media(min-width: 412px) {
	.pigs li {
		height: 19em;
	}
}

@media(min-width: 584px) {
	.pigs li {
		height: 15em;
	}
	.pigs li h5 {
		font-size: 0.8em;
		line-height: 1em;

	}

	.pigs li p {
		font-size: 0.7em;
	}
}

@media(min-width: 772px) {
	.pigs li {
		height: 15em;
	}
}

@media(min-width: 817px) {
	.pigs li {
		height: 15em;
	}
}


@media(min-width: 992px) {

  .header-about-title {
  	font-weight: bold;
  	font-size: 3.2em;
  	line-height: 1.3em;
  	width: 50%;
  }

  .content-wrapper img {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }

  .content-wrapper img.right {
		width: 40%;
    float: right;
    margin-left: 2em;
  }

  .content-wrapper img.left {
		width: 45%;
    float: left;
    margin-right: 2em;
  }
}


@media(min-width: 1200px) {
	.pigs li {
		height: 12em;
	}
}
