[class*="button"] {
	border-radius: 5px;

	font-size: 19px;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
	line-height: 54px;

	display: block;
	max-width: 195px;
	height: 54px;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #FFFFFF;
	font-weight: 400;
}

.buttonAction {
	background-color: #fca027;
	color: #fff;
}

.buttonInfo {
	background-color: #218ac9;
	color: #FFF;
}

.buttonPrimary {
	background-color: #FFF;
	color: #218ac9;
}
