.footer {
	background-color: #218ac9;

	overflow: hidden;
	padding: 2em 0.8em;
}
.footer-newsletter {
	background-color: #FFF;
	border: 2px solid #FFF;
	border-radius: 5px;

	float: left;
	overflow: hidden;
	width: 46%;
}
.footer-newsletter-email {
	background-color: #218ac9;
	border-radius: 5px 0 0 5px;

	text-indent: 5px;
	color: #FFF;
	font-size: 1em;

	float: left;
	width: 70%;
	height: 2.5em;
}
.footer-newsletter-action {
	font-size: 1em;
	text-indent: -999px;
	overflow: hidden;

	box-sizing: box-padding;
	float: right;
	width: 30%;
	height: 2em;
}
.footer-socialNetworks {
	float: right;
}
.footer-socialNetworks-item {
	float: left;
}
.footer-socialNetworks-item:not(:last-child) {
	margin-right: 0.5em;
}
.footer-socialNetworks-item a {
	text-indent: -999px;

	overflow: hidden;
	display: block;
	width: 2.8em;
	height: 2.8em;
}
.footer-socialNetworks-item [href*=twitter] {
	background-image: url(../img/footer/twitter.png);
	background-size: 2.8em;
}
.footer-socialNetworks-item [href*=linkedin] {
	background-image: url(../img/footer/linkedin.png);
	background-size: 2.8em;
}
.footer-socialNetworks-item [href*=facebook] {
	background-image: url(../img/footer/facebook.png);
	background-size: 2.8em;
}
.footer-socialNetworks-item [href*=vimeo] {
	background-image: url(../img/footer/vimeo.png);
	background-size: 2.8em;
}
