
.header {
	background-image: url("../images/bg-header-5.jpg");
	background-repeat: no-repeat;
	background-position: top left;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		   -o-background-size: cover;
			    background-size: cover;

	-webkit-background-attachment: fixed;
 	   -moz-background-attachment: fixed;
       -o-background-attachment: fixed;
	        background-attachment: fixed;

	text-align: center;
	color: #FFF;
	min-height: 250px;
	padding-bottom: 2em;
	position: relative;
}

.header:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 65px;
	background-image:  url("../images/bg-marolinhas.png");
	background-repeat: repeat-x;
	-webkit-background-size: auto;
	   -moz-background-size: auto;
		   -o-background-size: auto;
			    background-size: auto;

	-webkit-background-attachment: scroll;
 	   -moz-background-attachment: scroll;
       -o-background-attachment: scroll;
	        background-attachment: scroll;
}

.header-title {
	text-align: center;
	padding-left: 0.5em;
	position: relative;
}

.header-info {
	height: 520px;
}

.header-info-title {
	font-weight: bold;
	font-size: 4em;
	line-height: 1.2em;
	padding-top: 0.3em;
}

.header-info-subtitle {
	font-weight: 600;
	font-size: 2.2em;
	line-height: 1em;
	text-transform: uppercase;
}

.header-info-helpText {
	font-weight: 300;
	font-size: 1em;
	line-height: 1em;
	margin-bottom: 1.9em;
	margin-top: 10px;
}

.header-info .buttonAction {
  display: inline-block;
  padding: 0 10px;
  width: 220px;
	max-width: 220px;
  margin: 5px;
}


.wrap-header-menu {
	margin-bottom: 2em;
}

.wrap-header-menu:before {
	content: 'Menu ▾';

	background-color: #218ac9;
	border-radius: 5px;
	cursor: pointer;

	font-size: 1.2em;
	font-weight: 600;
	line-height: 2em;
	text-indent: 0.2em;

	display: block;
	width: 42%;
	height: 2em;

	margin-right: auto;
	margin-left: auto;
}

.wrap-header-menu:hover .header-menu,
.wrap-header-menu:active .header-menu {
	max-height: 1000px;
	margin-bottom: 0;
}

.header-menu {
	max-height: 1000px;
	overflow: hidden;

	transition: max-height 0.5s linear;
	display: none;

}

.header-menu-item a {
	background-color: #218ac9;

	color: #FFF;
	line-height: 2.5em;
	text-decoration: none;

	display: block;
	width: 42%;
	margin-left: auto;
	margin-right: auto;
}

.header .volunteers {
	background: url(../images/icon-hand.png) no-repeat;
	background-size: contain;
	position: absolute;
	left: -10px;
	bottom: 10%;
	transition-property: opacity, left, top, height;
  transition-duration: 1s, 0.5s;
}


.header .volunteers a {
	width: 60px;
	height: 94px;
	display: block;
	text-decoration: none;
}

.header .volunteers h5,
.header .volunteers h6 {
	display: none;
}


.header-menu-item a.active{
	background-color: #1cb430;
	color: #fff;
}


@media(min-width: 772px) {
	.header-info {
		background: url("../images/icon-vela.png") no-repeat center bottom;
		height: 450px;
	}
	.header-info-title {
		padding-top: 2em;
	}

	.header-info-helpText {
		margin-bottom: 5em;
	}


}

@media(min-width: 992px) {
	.header-title {
		text-align: left;
	}

	.wrap-header-menu:before {
		display: none;
	}

	.header-title {
		float: left;
	}

	.wrap-header-menu {
		float: left;
		padding-top: 6.5em;
		margin-left: 2em;
	}

	.header-menu {
		display: block;
	}

	.header-menu-item {
		display: inline-block;
    font-size: 14px;
	}

	.header-menu-item a {
		width: auto;
		padding: 0.4em 1.1em;
		margin-left: 0.05em;

		background-color: #fff;
		color: #218ac9;

		font-weight: bold;
		font-size: 0.9em;
		line-height: 1em;

		border-radius: 5px;
	}

	.header-info, .header-about {
		clear: both;
	}

	.header .volunteers {
		position: absolute;
		left: -20px;
		height: 122px;
		padding-left: 100px;
		padding-top: 10px;
		display: block;
	}

	.header .volunteers:hover {
		left: 0px;
	}

	.header .volunteers a {
		text-transform: uppercase;
		text-decoration: none;
		display: inline;
		width: auto;
	}

	.header .volunteers h5 {
		font-size: 2em;
		font-weight: 100;
		line-height: 1em;
		display: block;
	}

	.header .volunteers h6 {
		font-size: 1.6em;
		font-weight: normal;
		display: block;
	}


}

.clear {
	clear: both;
}


@media(min-width: 1200px) {
	.header-menu-item a {
		padding: 0.5em 1.3em;
		font-size: 1em;
		margin-left: 0.5em;
	}
}

@media(min-width: 100px) and (max-width: 990px) {
	.header .volunteers h5{
		margin-left: 3.5em;
		width: 7em;
		font-size: 1.3em;
		display: block;
	}
	.header .volunteers h6 {
		margin-left: 3.5em;
		width: 8em;
		font-size: 1.2em;
		display: block;
	}
}
