.place {
	background: #218ac9 url("../images/bg-como-chegar.png") no-repeat left bottom;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;

	color: #FFF;
	text-align: center;

	padding-top: 7em;
	padding-bottom: 9em;
}
.place-title {
	font-size: 2.5em;
	line-height: 1.2em;
	font-weight: 800;
	text-transform: uppercase;

	width: 79.6875%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.3em;
}
.place-description {
	font-size: 1.4em;
	font-weight: 300;

	max-width: 465px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}
