.wrap-supporter {
	background-color: #218ac9;
	color: #FFF;
	text-align: center;

	padding-top: 2em;
	padding-bottom: 2em;
}
.wrap-supporter.internal{
	background: url(../img/backgroundSponsorship.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.supporter {
	margin-right: auto;
	margin-left: auto;
	display: inline-table;
}

div.supporter-enclosure{
	max-width:880px;
	overflow:hidden;
	margin:0 auto;
	position:relative;
}

div.supporter-enclosure li{
	float:left;
	margin-right: 10px;
	margin-left: 10px;
}

div.supporter-enclosure figure{
	position: relative;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

div.supporter-enclosure figure img{
	top:11px;
	left:12px;
}

.supporter-title {
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 800;
	width: 79.6875%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.8em;
}
.supporter-title.internal {
	color: #218ac9;
}
.supporter-item {
	background-color: #FFF;
	padding: 10px;
	width: 145px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.supporter-item.title{
	width: 310px;
	height: 310px;
}

.supporter-item.diamond{
	width: 280px;
	height:280px;
}

.supporter-item.gold{
	width: 250px;
	height: 250px;
}

.supporter-item.silver{
	width: 210px;
	height: 210px;
}

.supporter-item.bronze{
	width: 170px;
	height: 170px;
}

.supporter-item.online{
	width: 150px;
	height: 150px;
}

.supporter-item:not(:last-child) {
	margin-bottom: 10px;
}
.supporter-item img {
	height: auto;
	max-width: 125px;
	max-height: 100px;
}

.supporter-item.title img {
	height: auto;
	max-width: 260px;
	max-height: 260px;
}

.supporter-item.diamond img {
	height: auto;
	max-width: 230px;
	max-height: 230px;
}

.supporter-item.gold img {
	height: auto;
	max-width: 210px;
	max-height: 210px;
}

.supporter-item.silver img {
	height: auto;
	max-width: 180px;
	max-height: 180px;
}

.supporter-item.bronze img {
	height: auto;
	max-width: 150px;
	max-height: 150px;
}

.supporter-item.online img {
	height: auto;
	max-width: 130px;
	max-height: 130px;
}