
table {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0.4em;
}

table th, table td {
  padding: 0.8em;
  text-align: center;
}

table th {
  text-transform: uppercase;
}

@media screen and (max-width: 772px) {

  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table tr {
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table td {
    display: block;
    text-align: right;
    border-bottom: 1px dotted #ccc;
  }

  table td:last-child {
    border-bottom: 0;
    border-top: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}
