.virada {
  background-color: #218CCB;
  color: #FFF;
  text-align: left;
  overflow: hidden;
  padding-top: 2em;
  padding-bottom: 2em;
}

.virada .content {
  font-size: 1.4em;
  font-weight: 300;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8em;
}

.virada  h1 {
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 800;

	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.8em;
}

.virada h2 {
	font-size: 1.6em;
	font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

.virada h2:first-child {
  padding-top: 0;
}

.virada h3 {
  font-size: 1.4em;
  margin-top: 1em;
  margin-bottom: 0.4em;
}


.virada p,
.virada ul,
.virada table {
  margin-bottom: 1em;
}

.virada ul {
  padding: 1em;
}

.virada li {
  list-style-type: disc;
  line-height: 2em;
}

.virada li a {
  text-decoration: none;
}

.virada li a:hover {
  text-decoration: underline;
}

.virada img {
  width: 100%;
}

.google-map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.contact_map {
  float: left;
  width: 100%;
  background: #fff;
  padding: 10px;
  margin-bottom: 30px;
  -moz-box-shadow: 0px 1px 3px #989898;
  -webkit-box-shadow: 0px 1px 3px #989898;
  box-shadow: 0px 1px 3px #989898;
}

@media(min-width: 772px) {

}

@media(min-width: 992px) {
  .virada img {
    width: 30%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }

  .virada img.right {
    float: right;
    margin-left: 2em;
  }

  .virada img.left {
    float: left;
    margin-right: 2em;
  }


}
