.header {
    display: flex;
    flex-flow: row nowrap;
    text-align: left;
    justify-content: space-between;
}

.fixedHeadContainer {
    background:#5c95b6;
    color:#fff;
    min-height: 50px;
    padding: 8px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    transform: translateZ(0);
}

.headerWrapper {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;    
}

.menuList {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menuList > * > a {
    text-decoration: none;
    color: white;
}

.navigationWrapper {
    height: 34px;
    width: 70%;
}

.navigationWrapper > nav {
    background: none;
    height: auto;
    position: relative;
    right: auto;
    top: auto;
    width: auto;
}