<IfModule mod_mime.c>
	AddType text/css .css
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /2019/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /2019/index.html [L]
</IfModule>