
.nav-container {
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: #3C6076;
  text-align: center;
}

.nav-container .navbar {
  background-color: #5c95b6;
}

.nav-container a {
  color: #fff !important;
}

.nav-container .dropdown-menu {
  background-color: #5c95b6;
}

.nav-container .dropdown-menu .dropdown-item:hover {
  background-color: #3C6076;
}

.aliance-logo {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  width: 115px;
  height: 100px;
  top: -10px;
  right: 10em;
}

@media (max-width: 600px){
  .aliance-logo {
      right: 1em;
  }
}